1강 
---

## 0-0 준비하기
### Jupyter 설치
- http://jupyter.org/

### R 설치
- https://www.r-project.org/

### Python, R, Juptyer 설치 명령어 모음
- [BioPython과Theano설치](https://github.com/biospin/DeepBio/blob/master/part01/Week1_151103/BioPython%EA%B3%BCTheano%EC%84%A4%EC%B9%98.txt)

### ipynb -> PDF 변환
```
source activate bioinformatics
conda install nbconvert
sudo apt-get install pandoc  -y 
# sudo apt-get install texlive-full  -y 
```

### PDF 변환시 한글문제 해결
- http://wiki.ktug.org/wiki/wiki.php/%EC%84%A4%EC%B9%98%ED%95%98%EA%B8%B0Linux/tlinstall


### Native R kernel for Jupyter
- https://github.com/IRkernel/IRkernel
```
sudo apt-get install -y libzmq3 libzmq3-dev -y
R  # 시작
install.packages(c('rzmq'))
install.packages(c('repr', 'IRkernel', 'IRdisplay'), repos = c('http://irkernel.github.io/', getOption('repos')))
IRkernel::installspec()
q()  # R 종료
./biopython_inotebook.sh
```

## 1-1. Write the logical expression to use to extract girls between 7 and 14 years of age in the juul data set .

In [4]:
# ISwR 패키지는 한번만 설치하면 됨.
#install.packages(c('ISwR'),  repos="http://cran.nexr.com/"  )

Installing package into ‘/home/deepbio/R/x86_64-pc-linux-gnu-library/3.2’
(as ‘lib’ is unspecified)

The downloaded source packages are in
	‘/tmp/RtmpqS7CNO/downloaded_packages’

In [5]:
# ISwR 패키지을 사용하기 위해서 불러옴.
library(ISwR)

In [6]:
# juul 데이터셋의 기초통계량을 확인함.
summary( juul )

      age            menarche          sex             igf1
 Min.   : 0.170   Min.   :1.000   Min.   :1.000   Min.   : 25.0
 1st Qu.: 9.053   1st Qu.:1.000   1st Qu.:1.000   1st Qu.:202.2
 Median :12.560   Median :1.000   Median :2.000   Median :313.5
 Mean   :15.095   Mean   :1.476   Mean   :1.534   Mean   :340.2
 3rd Qu.:16.855   3rd Qu.:2.000   3rd Qu.:2.000   3rd Qu.:462.8
 Max.   :83.000   Max.   :2.000   Max.   :2.000   Max.   :915.0
 NA's   :5        NA's   :635     NA's   :5       NA's   :321
     tanner        testvol
 Min.   :1.00   Min.   : 1.000
 1st Qu.:1.00   1st Qu.: 1.000
 Median :2.00   Median : 3.000
 Mean   :2.64   Mean   : 7.896
 3rd Qu.:5.00   3rd Qu.:15.000
 Max.   :5.00   Max.   :30.000
 NA's   :240    NA's   :859

In [7]:
head( juul )

   age menarche sex igf1 tanner testvol
1   NA       NA  NA   90     NA      NA
2   NA       NA  NA   88     NA      NA
3   NA       NA  NA  164     NA      NA
4   NA       NA  NA  166     NA      NA
5   NA       NA  NA  131     NA      NA
6 0.17       NA   1  101      1      NA

In [25]:
# age에 결측치가 있는 데이터는 제거함.
juul_na <- juul[  is.na(juul$age)==FALSE    ,   ]
# 14부터 17세 까지의 데이터를 추출함.
juul_14_17 <- juul_na[  juul_na$age >= 14  &   juul_na$age <= 17     ,   ]
head( juul_14_17  )

    age menarche sex igf1 tanner testvol
6  0.17       NA   1  101      1      NA
7  0.17       NA   1   97      1      NA
8  0.17       NA   1  106      1      NA
9  0.17       NA   1  111      1      NA
10 0.17       NA   1   79      1      NA
11 0.17       NA   1   43      1      NA

      age menarche sex igf1 tanner testvol
373 14.03       NA   1   NA      3       8
374 14.04       NA   1  435      5      12
375 14.08       NA   1  348      2       8
376 14.11       NA   1  653      2      12
377 14.15       NA   1  288      2       8
378 14.16       NA   1  453      5      22